@{
    ViewBag.Title = "About Centric";
}
<h2>About Centric Consulting</h2>

<h3 style="color:orange;">Recognition Platform</h3>

<p>The Centric Recognition platform allows employees to positively interact by recognizing one another when a core value is displayed.</p>

<p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-sm" style="background-color:orange;">Learn More &raquo;</a></p>
</p>