@{
    ViewBag.Title = "About";
}
<h2>About Centric Consulting</h2>
<h3>Recognition Platform</h3>

<p>The Centric Recognition platform allows employees to positively interact by recognizing one another when a core value is displayed.</p>
