@{
    ViewBag.Title = "About Centric";
}
<h2>About Centric Consulting</h2>

<h3 style="color:orange;">Recognition Platform</h3>

<p>The Centric Recognition platform allows employees to positively interact by recognizing one another when a core value is displayed.</p>

<p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-sm" style="background-color:orange;">Learn More &raquo;</a></p>
</p>
<p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-sm" style="background-color:blue;">Send Email &raquo;</a></p>
@{
    ViewBag.Title = "Index";
}
<h2>Email test results</h2>
@{
    if (TempData["mailError"] != null && TempData["mailError"] != "")
    {
        <h3>
            The following error occurred while trying to send the email message:
            @TempData["mailError"].ToString()
        </h3>
        
  
    }
    else
    {
        <h3>Email sent</h3>
    }
}