@{
    ViewBag.Title = "Centric Contact";
}
<h2>Centric Consulting Contact Information</h2>


<h3 style="color:orange">Centric Consulting Corporate Office</h3>

<address>
    1215 Lyons Rd Building F<br />
    Dayton, OH 45458<br />
    <abbr title="Phone">P:</abbr>
    888.781.7567
</address>

<p><a href="https://centricconsulting.com/contact/" class="btn btn-primary btn-sm" style="background-color:orange;">Contact Us &raquo;</a></p>
</p>