
@{
    ViewBag.Title = "email";
}

<h2>email</h2>

{
    ViewBag.Title = "Index";
}
<h2>Email test results</h2>
@{
    if (TempData["mailError"] != null && TempData["mailError"] != "Email did not reach recipient")
    {
        <h3>
            The following error occurred while trying to send the email message:
           @TempData["mailError"].ToString()
        </h3>
    }

    else
    {
        <h3>Email sent</h3>
    }
}