@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Recognition</h1>
    <p class="lead">The Centric Recognition platform allows employees to positively interact by recognizing one another when a core value is displayed. </p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
</div>

<body style="background-color:darkslateblue;">

    <div class="row">
        <div class="col-md-offset-0">
            <h2 style="color:yellow;">Core Values</h2>
            <p>
                <h4 style="color:whitesmoke;">Stewardship</h4>
                <h4 style="color:whitesmoke;">Delivery</h4>
                <h4 style="color:whitesmoke;">Culture</h4>
                <h4 style="color:whitesmoke;">Innovation</h4>
                <h4 style="color:whitesmoke;">Greater Good</h4>
                <h4 style="color:whitesmoke;">Integrity & Openness</h4>
                <h4 style="color:whitesmoke;">Balance</h4>
            </p>
            <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-sm">Go to Core Values Page &raquo;</a></p>
        </div>



