@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:lightgrey;" class="jumbotron">
    <h1>Centric Recognition</h1>
    <p class="lead">The Centric Recognition platform allows employees to positively interact by recognizing one another when a core value is displayed. </p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-sm" style="background-color:orange;">Learn more &raquo;</a></p>
</div>

<body>

    <div class="row">
        <div class="col-md-4">
            <h2>Core Values</h2>
            <p>
                <h4>Stewardship</h4>
                <h4>Delivery</h4>
                <h4>Culture</h4>
                <h4>Innovation</h4>
                <h4>Greater Good</h4>
                <h4>Integrity & Openness</h4>
                <h4>Balance</h4>
            </p>
            <p>
                <ul class="btn btn-primary btn-sm" style="background-color:orange; color:white;">
                    <li>@Html.ActionLink("Got to Core Values Page", "Index", "CoreValues")</li>
                </ul>
            </p>
        </div>



