@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:lightgrey;" class="jumbotron">
    <h1>Centric Recognition</h1>
    <p class="lead">The Centric Recognition platform allows employees to positively interact by recognizing one another when a core value is displayed. </p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-sm" style="background-color:orange;">Learn more &raquo;</a></p>
</div>

<body>

    <div class="row">
        <div class="col-md-5">
            <h2>Core Values</h2>
            <p>
                <h4>Stewardship</h4>
                <h4>Delivery</h4>
                <h4>Culture</h4>
                <h4>Innovation</h4>
                <h4>Greater Good</h4>
                <h4>Integrity & Openness</h4>
                <h4>Balance</h4>

                <a class="btn btn-link btn-sm" style="background-color:orange; color:white;"
                   @Html.ActionLink("Got to Core Values Page", "Index", "CoreValues")>
                </a>
            </p>                          
        </div>
        <div>
            <h2>Social Media</h2>

            <p><a href="https://www.facebook.com/CentricConsultingNational" class="btn btn-primary btn-sm" style="background-color:orange;">Facebook &raquo;</a></p>
            </p>

            <p><a href="https://twitter.com/centric" class="btn btn-primary btn-sm" style="background-color:orange;">Twitter &raquo;</a></p>
            </p>

            <p><a href="https://www.linkedin.com/company/centric-consulting/" class="btn btn-primary btn-sm" style="background-color:orange;">LinkedIn &raquo;</a></p>
            </p>

            <p><a href="https://www.instagram.com/centricconsulting/" class="btn btn-primary btn-sm" style="background-color:orange;">Instagram &raquo;</a></p>
            </p>

            <p><a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw" class="btn btn-primary btn-sm" style="background-color:orange;">YouTube &raquo;</a></p>
            </p>
        </div>
        <div>
            <h2></h2>
        </div>


