@{
    ViewBag.Title = "Centric Home";
}

<div style="background-image: url(https://ww1.prweb.com/prfiles/2018/04/11/15404573/DevStudio7.jpg);
        background-size: cover;" class="jumbotron">
    <h1 style="color:white">Centric Recognition</h1>
    <p style="color:white"class="lead">The Centric Recognition platform allows employees to positively interact by recognizing one another when a core value is displayed. </p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-sm" style="background-color:orange;">Learn more &raquo;</a></p>
</div>

<div class="text-center" style="background-color:transparent">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .flip-box {
            background-color: transparent;
            width: 250px;
            height: 250px;
            display: inline-block;
            border: 1px solid #f1f1f1;
            perspective: 1000px;
        }

        .flip-box-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-box:hover .flip-box-inner {
            transform: rotateX(180deg);
        }

        .flip-box-front, .flip-box-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-box-front {
            background-color: darkslateblue;
            color: white;
        }

        .flip-box-back {
            background-color: orange;
            color: white;
            transform: rotateX(180deg);

        }
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    <h1>Core Values</h1>

    <br />
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <div class="center">
                <h3>Stewardship</h3>
                </div>
            </div>
            <div class="flip-box-back">
                <div class="center">
                    <h3>Practice Responsible Stewardship</h3>
                    </div>
                </div>
            </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <div class="center">
                    <h3>Culture</h3>
                    </div>
                </div>
                <div class="flip-box-back">
                    <div class="center">
                        <h3>Invest in an Exceptional Culture</h3>
                    </div>
                    </div>
                </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <div class="center">
                    <h3>Delivery Excellence</h3>
                </div>
                </div>
                <div class="flip-box-back">
                    <div class="center">
                        <h3>Commit to Delivery Excellence</h3>
                    </div>
                    </div>
                </div>
    </div>
    <br />
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <div class="center">
                    <h3>Innovation</h3>
                </div>
                </div>
                <div class="flip-box-back">
                    <div class="center">
                        <h3>Strive to Innovate</h3>
                    </div>
                    </div>
                </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <div class="center">
                    <h3>Greater Good</h3>
                </div>
                </div>
                <div class="flip-box-back">
                    <div class="center">
                        <h3>Ignite Passion for the Greater Good</h3>
                    </div>
                    </div>
                </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <div class="center">
                    <h3>Integrity & Openess</h3>
                </div>
                </div>
                <div class="flip-box-back">
                    <div class="center">
                        <h3>Embrace Integrity and Openness</h3>
                    </div>
                    </div>
                </div>
    </div>
    <br />
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h3></h3>
            </div>
            <div class="flip-box-back">
                <h3></h3>
            </div>
        </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <div class="center">
                    <h3>Balance</h3>
                </div>
                </div>
                <div class="flip-box-back">
                    <div class="center">
                        <h3>Live a Balanced Life</h3>
                    </div>
                    </div>
                </div>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h3></h3>
            </div>
            <div class="flip-box-back">
                <h3></h3>
            </div>
        </div>
    </div>
</div>
<br />
<br />


