@{
    ViewBag.Title = "Centric Core Values";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Stewardship</h2>
        <p>
            Practice Responsible Stewardship
        </p>
    </div>
    <div class="col-md-4">
        <h2>Culture</h2>
        <p>
            Invest in an Exceptional Culture
        </p>
    </div>
    <div class="col-md-4">
        <h2>Delivery Excellence</h2>
        <p>
            Commit to Delivery Excellence
        </p>
    </div>
    <div class="col-md-4">
        <h2>Innovation</h2>
        <p>
            Strive to Innovate
        </p>
    </div>
    <div class="col-md-4">
        <h2>Greater Good</h2>
        <p>
            Ignite Passion for the Greater Good
        </p>
    </div>
    <div class="col-md-4">
        <h2>Integrity & Openess</h2>
        <p>
            Embrace Integrity and Openess
        </p>
    </div>
    <div class="col-md-4">
        <h2>Balance</h2>
        <p>
            Live a Balanced Life
        </p>
    </div>
</div>
